.navbar-wrapper {
    /* apperance */
    position: fixed;
    top: 22px;
    width: 100%;
    padding: 22px calc(var(--landing-border-padding) + 22px);

    /* flex */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.button.button-primary.button-navbar {
    /* appearance */
    color-scheme: unset;
    background: var(--label-primary);
}

.button.button-primary.button-navbar h3 {
    color: var(--label-primary-inverse);
}